<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ich liebe dich!</title>

    <link rel="stylesheet" href="static/stylesheets/index.css">
    <script src="static/javascript/index.js" defer></script>
</head>
<body>
    <div id="content">
        <h3 style="width: fit-content">YouTube Downloader</h3>

        <div style="width: fit-content">
            <form id="urlDownload">
                <label for="urlInput">Input YouTube Link:</label>
                <input id="urlInput">
                <button type="submit">DOWNLOAD</button>
            </form>
        </div>
    </div>
</body>
</html>